/* miscellaneous */
$img-size: 100px;
$nav-bar-height: 75px;
$common-transition-time: .3s;
$common-border: 1px solid lightgray;

/* fonts */
$small-font-size: 18px;
$med-font-size: 23px;
$lg-font-size: 35px;

/* distances */
$common-horizontal-separation: 3%;
$common-vertical-separation: 25px;

/* colors */
$blue-color: rgb(89, 164, 215);
